* {box-sizing: border-box;}

body {
    padding: 10px;
    margin: 0px 80px;
}

header h1 {
    font-family: 'Lobster', cursive;

}
header img {
    float: left;
    padding: 5px;
}
header h4 {
    opacity: 0.5;
    font-size: 10px;
    float: left;
    margin-left: 53px;
    margin-top: -22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header ul li img {
    clear: both;
    padding: 0%;
    margin: 0px;

}
header ul li {
    display: inline-block;
}
header ul li:nth-child(7) {
    padding-left:10px;
}
header ul {
    float: right;
    margin-top: -45px;

}
header {
    border-bottom: 4px dashed rgb(211, 218, 211);

}
main {
    margin-top:60px;
}
main h1 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
main section article h3 {
    opacity: 0.2;
    font-size: 10px;
    margin-top: -30px;
    font-family: 'Anton', sans-serif;
    font-weight: lighter;

}
 #right img {
     text-align: left;
 }
#right p {
    opacity: 0.3;
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    padding-left: 1px;
    display: inline-block;

}
#right {
    float: right;
    margin-top: -40px;
}

section article img:last-child {
    margin-bottom: 12px;
width: 100%;
margin-top: 15px;
}

main section article:nth-child(2) p {
    opacity: 0.7;
    text-indent: 30px;
    line-height: 1.2;
    font-size: 19px;
    padding-bottom: 15px;

}
#sec2 {
    background-image: url(img/list-bg.png);
    background-size: cover;
    width: 100%;
    height: 350px;
}

#sec2 ul li {
    display: block;
    line-height: 1.8;
}

.Article-R {
    width: 50%;
    padding: 30px;
    float: right;

}
.Article-L {
    width: 50%;
    padding: 30px;
    float: left;
}
#sec2 ul li label {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.6;
}

#sec3 img {
    margin-top: 20px;
    float: left;
    padding: 5px;

}

#sec3 {
    border-top: 3px dashed rgba(128, 128, 128, 0.473);
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 15px;
}
#sec3 h3 {
    display: block;
    margin-top: 25px;
    padding-left: 92px;
    opacity: 0.65;
    font-size: 24px;

}
#sec3 p {
    margin-left: 15px;
    opacity: 0.65;
    font-size: 20px;
    margin-top: -15px;
    float: left;
    width: 600px;
}
#sec3 input {
    float: right;
    padding: 20px 35px;
    border: none;
    color: white;
    background-color: rgba(168, 44, 13, 0.87);
    font-size: 17px;
    opacity: 0.8;
    margin-top: -40px;
}

footer {
    margin-top: 150px;
    clear: both;
    text-align: center;
    border-top: 1px solid rgb(199, 192, 192);
}
footer img {

    margin-top: -25px;
    padding:10px;
    background-color: white;
}

footer p {
    opacity: 0.4;
    line-height: 1.2;
}